* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: "Poppins", sans-serif;
}

main {
	font-family: ;
	display: flex;
	gap: 30px;
	padding: 30px;
	width: 90%;
	max-width: 780px;
	margin-inline: auto;
}

main>* {
	width: 50%;
}


.info {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.info input {
	padding: 10px 20px;
}

.info input.error {
	border: 2px solid #ff4545;
}

.info textarea {
	font-size: 14px;
	resize: none;
	height: 100%;
	padding: 10px 20px;
}

.result_box {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.result_box #result {
	aspect-ratio: 1;
	border: 1px solid rgba(0, 0, 0, .55);
	width: 100%;
}

.colors {
	display: flex;
	flex-wrap: wrap;
	justify-content: end;
	gap: 5px;
}

.colors button {
	border-radius: 999999px;
	border: 1px solid rgba(0, 0, 0, .3);
	cursor: pointer;
	display: block;
	width: 20px;
	aspect-ratio: 1;
}

.colors button:active {
	transform: scale(.95);
}

.save,
.search {
	background-color: #1DB954;
	border: none;
	border-radius: 5px;
	color: white;
	cursor: pointer;
	text-transform: uppercase;
	padding: 8px 4px;
	width: 100%;
}

.save:active,
.search:active {
	background-color: #0CA843;
	transform: scale(.99);
}

@media screen and (max-width: 767px) {
	main {
		flex-direction: column;
	}

	main>* {
		width: 100%;
	}

	.info textarea {
		min-height: 130px;
	}
}

/* MODAL */



#modal {
	display: none;
	background-color: #00000045;
	position: fixed;
	top: 0;
	left: 0;
	padding: 20px 10px;
	width: 100vw;
	height: 100vh;
}

#modal.show {
	display: block;
}

.modal__wrapper {
	border-radius: 5px;
	background: #fff;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 10px;
	width: 90%;
	max-width: 520px;
	margin: auto;
	padding: 10px;
}

.modal__wrapper .result {
	width: 100%;
	padding: 10px;
	aspect-ratio: 1;
}

.modal__wrapper .result .result__img {
	width: 100%;
	aspect-ratio: 1;
	object-fit: cover;
}

.modal__wrapper .result .result__song {
	font-size: 14px;
}

.modal__wrapper .result .result__artist {
	color: dimgray;
	font-size: 12px;
}
