* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: "Poppins", sans-serif;
}

main {
	font-family: ;
	display: flex;
	gap: 30px;
	padding: 30px;
	width: 90%;
	max-width: 780px;
	margin-inline: auto;
}

main>* {
	width: 50%;
}


.info {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.info input {
	padding: 10px 20px;
}

.info textarea {
	font-size: 14px;
	font-family: ;
	resize: none;
	height: 100%;
	padding: 10px 20px;
}

.result_box {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.result_box #result {
	aspect-ratio: 1;
	border: 1px solid rgba(0, 0, 0, .55);
	width: 100%;
}

.colors {
	display: flex;
	flex-wrap: wrap;
	justify-content: end;
	gap: 5px;
}

.colors button {
	border-radius: 999999px;
	border: 1px solid rgba(0, 0, 0, .3);
	cursor: pointer;
	display: block;
	width: 20px;
	aspect-ratio: 1;
}

.colors button:active {
	transform: scale(.95);
}

.save {
	background-color: #1DB954;
	border: none;
	border-radius: 5px;
	color: white;
	cursor: pointer;
	text-transform: uppercase;
	padding: 8px 4px;
	width: 100%;
}
.save:active {
	background-color: #0CA843;
	transform: scale(.99);
}

@media screen and (max-width: 767px) {
  main {
  	flex-direction: column;
  }
  main > * {
  	width: 100%;
  }

  .info textarea {
  	min-height: 130px;
  }
}
